#topnav {
  position: relative;
}

#topnav .search input {
  width: 100px;
}

#topnav .site-nav li a {
  padding: 0 8px;
}

#topnav .sign-in.dropdown {
  display: none;
}

#topnav .sign-in.mobile {
  display: inline-block;
}

.modal {
  position: absolute;
}




/*
     FILE ARCHIVED ON 09:47:47 Oct 30, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:53:15 Mar 29, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 156.358
  exclusion.robots: 0.1
  exclusion.robots.policy: 0.089
  cdx.remote: 0.064
  esindex: 0.009
  LoadShardBlock: 96.014 (3)
  PetaboxLoader3.datanode: 72.798 (4)
  load_resource: 79.368
  PetaboxLoader3.resolve: 43.429
*/